form {
  width: 50%;
  font-family: 'Cinzel', serif;
}

.panel-heading {
  color: rgb(0, 105, 167);
  margin: 2px;
  text-decoration: underline;
  padding-bottom: 15px;
}

.panel {
  border: 2px solid red !important;
  margin: 10px;
  border-radius: 10px;
}

.help-block {
  color: red;
  font-style: italic;
  font-size: small;
}

.form-group {
  padding: 0 20px;
}
.form-group > label {
    font-weight: 600;
}

