.panel-heading{
    background: blue;
    color: wheat;
}
.panel{
    border: 2px solid blue;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.panel-title{
    padding: 5px;
}
.help-block{
    color:red;
    font-style: italic;
    font-size: small;
}